<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pxw-lib-sql.ZPM">
    <Module>
      <Name>pxw-lib-sql</Name>
      <Version>2.0.15</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="PXW.LIB.SQL.PKG"/>
    </Module>
  </Document>
</Export>
